# =============================================================================
#   Choose which workflow to run
# =============================================================================

workflow: "analysis" # Options: "analysis", "join_datasets"

# =============================================================================
#   Output (for either workflow)
# =============================================================================

project_directory: "ZB_Strains" # Optional: Path of the project directory, relative to WeavePop/. If empty, the working directory is used.
run_id: "BH_controls" # Optional: Suffix to append to the 'results/' and 'logs/' directories. 

# =============================================================================
#   Parameters for the analysis workflow
# =============================================================================

# ------------------Input------------------------------------------------------

metadata: "config/metadata_controls.csv" # Path of metadata CSV table. Relative to project_directory or absolute.
chromosomes: "config/chromosomes.csv" # Path of chromosomes CSV table. Relative to project_directory or absolute.
samples_to_exclude: "" # Optional: Path of list of samples to exclude from analyses. Relative to project_directory or absolute.

fastqs_directory: "~/BH_Illumina_wildtype_controls" # Path of directory with all FASTQ files. Relative to project_directory or absolute.
fastq_suffix1: "_R1_001_val_1.fq.gz" # Suffix after the sample id of the forward reads file.
fastq_suffix2: "_R2_001_val_2.fq.gz" # Suffix after the sample id of the reverse reads file.

references_directory: "data/references" # Path of directory with reference genomes. Relative to project_directory or absolute.

# ------------------Identification of repeats in reference genomes--------------

repeats:
  activate: True # True to run RepeatModeler/RepeatMasker to find repeats in the reference genomes. Empty or False to skip.
  database: "config/RepBase.fasta" # Path to the RepBase FASTA file. Relative to project_directory or absolute.
  use_fake_database:  # True to use a fake database in absence of a real one.
  threads: 20 # Number of threads for RepeatModeler and RepeatMasker.
  use_container: False # True to use Apptainer containers for RepeatModeler and RepeatMasker.

# ------------------Annotation of reference genomes----------------------------

annotate_references:
  activate: True # True to run the annotation of the reference genomes. Empty or False to skip.
  fasta: "VNI.fasta" # Filename of the main reference genome FASTA file in references_directory.
  gff: "VNI.gff" # Filename of the main reference genome GFF file in references_directory.
  liftoff:
    threads: 12 # Number of threads for Liftoff.
    extra: "" # Extra parameters for Liftoff.

# ------------------Depth and quality analyses and filter----------------------
depth_quality: 
  flag_quality: 
    low_MAPQ_limit: 20 # Max MAPQ to be considered low quality.
    high_MAPQ_limit: 60 # Min MAPQ to be considered high quality.
    min_mapq: 20 # Minimum mapping quality to be considered a good read alignement.
    filter: False # True to exclude samples that are flagged by the thresholds bellow.
    min_percent_coverage: 90 # If percent of genome covered by good quality read alignments is below this value, the sample is flagged.
    min_percent_MAPQ: 80 # If percent of high quality reads is below this value, the sample is flagged.
    min_genome-wide_depth: 2 # If genome-wide depth is below this value, the sample is flagged.
    min_percent_mapped_reads: 90 # If percent of mapped reads is below this value, the sample is flagged.
  mosdepth: 
    threads: 12  # Number of threads for mosdepth.
    window: 500 # Window size for mosdepth.
    extra: "" # Extra parameters for mosdepth.

# ------------------Mapping and variants module--------------------------------

mapping_and_variants:
  threads: 12
  extra: ""

# ------------------Annotation-------------------------------------------------

annotation:
  activate: True # True to activate the module. Empty or False to skip.
  liftoff:
    threads: 12
    extra: ""

# ------------------Depth and quality of genetic features----------------------

depth_quality_features:
  activate: True # True to activate the module. Empty or False to skip.

# ------------------Copy-number variant calling--------------------------------

cnv:
  activate: True # True to activate the module. Empty or False to skip.
  smoothing_size: 15 # Parameter for median filtering smoothing of the read depth.
  depth_threshold: 0.6 # Min deviation from the global depth to be considered a CNV.

# ------------------Annotation of SNP effects----------------------------------

snpeff:
  activate: True # True to activate the module. Empty or False to skip.
  extra: "" # Extra parameters for SnpEff.

# ------------------Plotting---------------------------------------------------

plotting: 
  activate: True # True to activate the module. Empty or False to skip.
  loci: "config/loci.csv" # Path to table with loci to add to plots. Relative to project_directory or absolute.
  metadata2color: "strain" # Column name in the metadata table to color the samples in the plots.
  scale: 0.7 # Ggsave scale parameter to adjust the size of the dataset plots. Use lower values for fewer samples and bigger values for more samples.

# ------------------Database---------------------------------------------------

database:
  activate: True # True to activate the module. Empty or False to skip.

# =============================================================================
#   Parameters for the join_datasets workflow
# =============================================================================
# This workflow joins the results of running the analysis workflow on different datasets. 
# It assumes that if the same lineage is present in the different datasets, 
# the same reference genome was used.

datasets_paths: "" # Comma-separated list of paths to the directories with the results of the analysis workflow.
datasets_names: "" # Comma-separated list of names for the datasets, in the same order as the paths.
